.RegisterComponent {
  height: auto;
  width: 400px;
  text-align: center;
  padding-top: 70px;

  h1 {
    color: white;
  }

  .form_li {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    color: white;
  }

  .form_input {
    height: 30px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid white;
    width: 85%;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    background: none;
    color: white;
  }

  .form_input::placeholder {
    color: white;
  }

  .error {
    color: red;
    margin-top: -25px;
    margin-left: 50px;
    text-align: left;
  }

  .login_button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    background: #fc4a1a;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
  }

  .login_button:hover {
    background-color: rgb(250, 143, 2);
  }

  .login_icon_img {
    height: 20px;
    width: auto;
    filter: invert(94%) sepia(94%) saturate(24%) hue-rotate(73deg) brightness(106%) contrast(106%);
  }

  .imgContainer {
    width: 20px;
    margin-right: 10px;
    padding-top: 5px;
  }

  .options {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
  }

  .notAMember {
    color: white;
    padding-left: 10px;
  }

  .options_span {
    color: #fc4a1a;
  }

  .options_span:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(250, 143, 2);
  }

  .loginImg {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    width: 20px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .additionalOptions {
    text-align: left;
    color: white;
  }
}
