.comments {
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 10px;
}

.commentBody {
  padding-top: 5px;
}

.userName {
  font-weight: bold;
  color: #fc4a1a;
}

.deleteButton {
  display: flex;
  flex-direction: row;
  float: right;
  .xButton{
    height: 20px;
    width: 20px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    background-color: #4abdac;
    color: #ffffff;
    border-radius: 50%;
    border: none;
  }
}
.timestamp{
  font-weight: 300;
  margin-left: 5px;
}