.FatSecretFoodNutrients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 10px 20px;

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-family: "Ubuntu", "san-serif";
    }

    .calories {
      color: #fc4a1a;
    }
  }

  .nutritionalInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding: 0 20px;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      h1 {
        font-size: 24px;
        margin: 0;
        font-family: "Ubuntu", "san-serif";
      }

      h3 {
        font-family: "Ubuntu", "san-serif";
      }
    }
    .fat {
      color: #fc4a1a;
    }

    .carbs {
      color: #04c9b5;
    }

    .protein {
      color: #fac611;
    }
  }

  .servingsAndAddButton {
    font-family: "Ubuntu", "san-serif";
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .servings {
      color: #6b6b6b;
      font-size: 20px;
      font-weight: 500;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 80%;
      align-items: center;

      .leftArrow {
        height: 0;
        width: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid #6b6b6b;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }

      .rightArrow {
        height: 0;
        width: 0;
        border-top: 10px solid transparent;
        border-right: 10px solid transparent;
        border-left: 10px solid #6b6b6b;
        border-bottom: 10px solid transparent;
      }
    }

    .addButton {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #04c9b5;
      text-align: center;
      line-height: 38px;
      margin-left: 20px;
      color: white;
      font-size: 25px;
    }
  }
}
