.fatSecretFood {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba($color: #dadada, $alpha: 1);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: none;

  h3 {
    color: #444444;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .fatSecretFoodDetails {
    margin: auto 0;

    p {
      text-align: right;
      margin: 0px;
    }

    .fatSecretFoodCal {
      font-size: 16px;
    }

    .fatSecretFoodServing {
      font-size: 14px;
      color: gray;
    }
  }
}
