.addFoodButton {
  height: 100%;
  padding: 10px 20px;
  background-color: #4abdac;
  color: white;
  border-radius: 40px;
  font-size: 14px;
  line-height: 2em;
  border: none;
  font-weight: 500;

  span {
    font-size: 18px;
  }
}
