.searchDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}

.foodInput {
  height: 50px;
  width: 70%;
  margin: 20px 0px 20px 20px;
  border: 2px solid lightgray;
  border-radius: 2px;
  padding: 0 10px;
  outline: none;
  font-size: 16px;
}

.searchIcon {
  height: 30px;
  width: 30px;
  border: none;
  background: none;
}

.searchButton {
  border: none;
  vertical-align: middle;
  background: none;
}
