.searchDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .backButton {
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 10px solid #444444;
    margin-right: 10px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .foodInput {
      height: 50px;
      width: 100%;
      margin: 10px 0px 10px 0px;
      border: 2px solid lightgray;
      border-radius: 2px;
      padding: 0 10px;
      outline: none;
      font-size: 16px;
    }

    .searchButton {
      border: none;
      vertical-align: middle;
      background: none;
      text-align: left;

      .searchIcon {
        height: 30px;
        width: 30px;
        border: none;
        background: none;
      }
    }
  }
}

.LabelContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgray;
  justify-content: center;
  align-items: center;
}

.servingsAndAddButton {
  font-family: "Ubuntu", "san-serif";
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .servings {
    color: #6b6b6b;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;

    .leftArrow {
      height: 0;
      width: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid #6b6b6b;
      border-left: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    .servingMultiplier {
      font-size: 20px;
      margin: 0 5px;
      text-align: center;
    }

    .rightArrow {
      height: 0;
      width: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid transparent;
      border-left: 10px solid #6b6b6b;
      border-bottom: 10px solid transparent;
    }
  }

  .servingSize {
    font-size: 20px;
    border: none;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
  }
}
