.foodVisionDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  padding-top: 10px;
  width: 100%;
  border: 1px solid red;
  // margin:

  // input {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: left;
  // }
}
