.BodyParts {
  border: 1px red dotted;
  height: 90%;
  padding-left: 50%;
  padding-top: 20px;
  position: fixed;
  bottom: 0;
  background-color: white;

  .bodypartbutton {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
  }

  .bodypartbutton:hover {
    color: #fc4a1a;
  }
}
