.AddComment {
  .inputBar {
    border: 1px solid #4abdac;
    border-radius: 5px;
    margin: 5px;
  }

  input {
    padding-left: 5px;
  }

  button {
    color: #ffffff;
    background-color: #4abdac;

    &:hover {
      background-color: #fc4a1a;
      border-color: #fc4a1a;
    }
  }
}
