.navigation {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  background: #04c9b5;

  .navButton {
    height: 100%;
    width: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #fac611;
    }

    img {
      height: 30px;
      width: 30px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
