.mealNavigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: space-around;
  align-content: center;
  padding: 10px;

  .mealButton {
    display: flex;
    margin: auto;
    background-color: #ffffff;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    border-color: #4abdac;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bolder;

    img {
      height: 50px;
      width: 50px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
