.homePageHeader {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.fit {
  color: #4abdac;
}

.works {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #fc4a1a;
}
